*.py[co]
*.sw[op]
.*.sw[op]
.coverage*
.cache
*.egg-info/
.eggs/
htmlcov/
.*venv/
.pytest_cache/
pytest-report.xml
__pycache__/
/.deps-fetched
/.image-name
/dist/
/code/*/build/
/code/*/dist/
/venv*/
